.carousel .list .item img{
    width:50%;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    transition:right 1.5s;
}
.carousel .list .item .introduce{
    opacity:0;
    pointer-events:none;
    position:absolute;
    top:50%;
}
.carousel .list .item.active .introduce {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1s;
}
