@model Abstracciones.Modelos.Productos.ProductoRequestEditar
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "productoEditar";
}

<form id="formProductoEditar" method="post" asp-page-handler="EditarProducto">
    <div class="modal-header">
        <h5 class="modal-title">Editar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="Nombre" class="form-label">Nombre</label>
                <input asp-for="Nombre" class="form-control input-squarespace"  />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Marca" class="form-label">Marca</label>
                <input asp-for="Marca" class="form-control input-squarespace"  />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Precio" class="form-label">Precio</label>
                <input asp-for="Precio" class="form-control input-squarespace"  />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="Descripcion" class="form-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control input-squarespace"  />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Stock" class="form-label">Stock</label>
                <input asp-for="Stock" class="form-control input-squarespace"  />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="col-md-8">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" name="imagen" id="imagen" class="form-control" value="ImagenUrl" />
            </div>

            <div class="col-md-4">
                <label asp-for="IdProveedor" class="form-label">Proveedor</label>
                @{
                    var listaProveedores = (List<SelectListItem>)ViewData["Proveedores"];
                }
                <select asp-for="IdProveedor" class="form-select" asp-items="listaProveedores">
                    <option value="">Seleccione un proveedor</option>
                </select>
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="IdCategoria" class="form-label">Categoría</label>
                <input asp-for="IdCategoria" class="form-control input-squarespace" />
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="IdEstado" class="form-label">Estado</label>
                <input asp-for="IdEstado" class="form-control input-squarespace" />
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="IdProducto" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
